In [1]:
! pip install sqlalchemy
! pip install lxml
! pip install html5lib
! pip install BeautifulSoup4

Requirement already satisfied: sqlalchemy in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (1.3.20)
Requirement already satisfied: lxml in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (4.6.1)
Requirement already satisfied: html5lib in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: BeautifulSoup4 in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Users/Samir/opt/anaconda3/lib/python3.8/site-packages (from BeautifulSoup4) (2.0.1)

In [2]:
import pandas as pd

In [3]:
pwd

'/Users/Samir/Desktop/GITHUB/Python-Bootcamp'

In [10]:
pd.read_csv('Excel_Sample.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [11]:
df=pd.read_csv('Excel_Sample.csv')

In [13]:
df.to_csv('My_output',index=False)

In [14]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [15]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [17]:
df.to_excel('Excel_sample2.xlsx',sheet_name='New')

In [18]:
#HTML

In [19]:
data=pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [25]:
data[0].head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020"
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020"
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"

In [29]:
import pandas as pd
data2=pd.DataFrame(data)

ValueError: Must pass 2-d input. shape=(1, 563, 6)

AttributeError: 'list' object has no attribute 'to_excel'